In [1]:
import pandas as pd

In [2]:
hotels = pd.read_csv("hotel_booking_data.csv")

In [3]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [4]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

**Проверяем сколько строк в датасете**

In [6]:
len(hotels)

119390

**Ищем пропущенные значения, точнее их количество**

In [8]:
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [10]:
print(f"В колонке company значения отсутствуют для {hotels['company'].isna().sum()} строк.")

В колонке company значения отсутствуют для 112593 строк.

**Удаляем колонку company, поскольку она имеет слишком большое количество отсутствующих строк**

In [ ]:
hotels = hotels.drop('company',axis=1)

**Ищу самые популярные страны в датасете**

In [ ]:
hotels['country'].value_counts()[:5]

**Ищем человека который заплатил наибольшее количество денег за сутки, также выводим это значение**

In [ ]:
hotels.sort_values('adr',ascending=False)[['adr','name']].iloc[0]

**Ищем среднее значение adr для всех бронирований**

In [ ]:
round(hotels['adr'].mean(),2)

**Среднее количество ночей, усредненное по всем бронированиям**

In [ ]:
hotels['total_stay_days'] = hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights']

round(hotels['total_stay_days'].mean(),2)

**Средняя общая сумма бронирования в этом наборе данных**

In [ ]:
hotels['total_paid'] = hotels['adr'] * hotels['total_stay_days']
round(hotels['total_paid'].mean(),2)

**Выводим имена и адреса email тех, кто сделал ровно 5 специальных запросов**

In [ ]:
hotels[hotels['total_of_special_requests'] == 5][['name','email']]

**Процент бронирований классифицированы как бронирования "is_repeated_guest"?**

In [ ]:
round(100 * sum(hotels['is_repeated_guest'] == 1) / len(hotels),2)

**5 фамилий встречаются в этом наборе данных наиболее часто**

In [ ]:
hotels['name'].apply(lambda name: name.split()[1]).value_counts()[:5]

**Имена людей, которые бронировали номер для наибольшего количества детей и младенцев(колонки [babies, children]**

In [ ]:
hotels['total_kids'] = hotels['babies'] + hotels['children']

hotels.sort_values('total_kids',ascending=False)[['name','adults','total_kids','babies','children']][:3]

**3 кода области котоые встречаются в наборе данных наиболее часто?**

In [ ]:
print('Code - Total Count')
hotels['phone-number'].apply(lambda num:num[:3]).value_counts()[:3]

**Считаю количество заселений в отель между 1м и 15м числами месяца**

In [ ]:
hotels['arrival_date_day_of_month'].apply(lambda day: day in range(1,16)).sum()


**Создаю таблицу, в которой будет количество заселений по дням недели.**

In [ ]:
import numpy as np

In [ ]:
def convert(day,month,year):
    return f'{day}-{month}-{year}'

In [ ]:
hotels['date']  = np.vectorize(convert)(hotels['arrival_date_day_of_month'],
                                        hotels['arrival_date_month'],
                                        hotels['arrival_date_year'])

In [ ]:
hotels['date'] = pd.to_datetime(hotels['date'])

In [ ]:
hotels['date'].dt.day_name().value_counts()